<!DOCTYPE html>
<html lang="en">
<head>
    <title>Card Back</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"
    ></script>
    <script src="https://api.trello.com/1/client.js?key=003b324ff68318b026ff6ff92d2e872f"></script>
</head>
<body>

<iframe></iframe>

<!-- <div id="fieldContainer" style="display: flex; flex-direction: column"> -->
<!--      This is where the custom field list will be rendered.-->
<!--      The custom field list is a list of custom fields that are-->
<!--      available on the board.-->
<!-- </div> -->

<script src="https://p.trellocdn.com/power-up.min.js"></script>
<!-- <script src="/js/cardBack.js"></script> -->
<script src="/js/loadIframe.js"></script>
</body>
</html>
